$primary: #333;
$secondary: #666;
$bg: #EEF;

html, body { margin: 0; font-family: Arial, Helvetica, sans-serif; background: $bg; color: $primary; }
footer {
    font-size: smaller; position:absolute; bottom: 0;
}